@CHARSET "UTF-8";
@font-face {
    font-family: 'entypo';
    src: url('entypo.eot');
    src: url('entypo.eot?#iefix') format('embedded-opentype'),
         url('entypo.woff') format('woff'),
         url('entypo.ttf') format('truetype'),
         url('entypo.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'entypo-social';
    src: url('entypo-social.eot');
    src: url('entypo-social.eot?#iefix') format('embedded-opentype'),
         url('entypo-social.woff') format('woff'),
         url('entypo-social.ttf') format('truetype'),
         url('entypo-social.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '나눔고딕';
    src: url('NanumGothicCoding.eot'),
         url('NanumGothicCoding.woff') format('woff'),
         url('NanumGothicCoding.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '나눔고딕볼드';
    src: url('NanumGothicCodingBold.eot'),
         url('NanumGothicCodingBold.woff') format('woff'),
         url('NanumGothicCoding-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}