#myPage{
	.round-wrap{
		position: relative;
		width: 120px;
		margin: 0 auto;
		-webkit-transition-duration : .7s;
		&.over{ 
				-webkit-transform : scale(1.1);
				opacity  : .5;
			.img-mask{
				background-image: url('../img/mask2.png');
			}
		}
		.img-mask{
			background-position: 0 -320px;
			height: 142px;
			width: 142px;
			position: absolute;
			left: -10px;
			top: -12px;
			background-repeat: no-repeat;
			background-image: url('../img/mask.png');
		}
		img{
			width: 120px;
			height: 120px;
			border-radius: 50%;
		}
	}
		
		.gName{
			display: block;
			text-align: center;
			margin: 10px 0 ;
			color : #774444;
		}
		.uName{
			display: block;
			text-align: center;
			margin: 10px 0 20px 0;
			font-size: 16px;
			color: #6B6060;
		}
		.wrap{
			z-index			: 12;
			min-height		: 400px;
			background		: rgba(105, 105, 93, 0.24);
			border-radius	: 15px;
			box-shadow		: inset 1px 3px 4px #AAA0A0;
			padding			: 10px;
			box-sizing		: border-box;
			height			: 400px;
			overflow-y		: scroll;
		}
	.share-wrap{	
		width: 90%;
		min-height: 500px;
		margin: 0 auto;
		height: 500px;
		display : none;
		&.active{
			display: block;
		}
		.sharetag > span{
			width: 46%;
			display: inline-block;
			padding-left: 30px;
			margin-bottom: 8px;
		}
		.share,.no-share{
			.thumbnails{
				width: 90%;
				margin: 0 auto;
				 li{
					margin: 5px 10px;
					width : 80px;
					 a{
						height: 80px;
						width: 80px;
						img:nth-child(2){
							top 	: 	-32px
						}
					}
				}
			}
		}
	}
	
	.share-group{
		.thumbnails{
				width: 90%;
				margin: 0 auto;
				 li{
					margin: 5px 10px;
					width : 80px;
					 a{
						height: 80px;
						width: 80px;
						 img:nth-child(2){
							top 	: 	-32px
						}
					}
				}
		}
		&.active{
			display: block;
		}
		#dragContainer{
			width : auto; 
			height : auto;
		
		}
		display : none;
	}
	li{
		.thumbnail{
			border : 1px solid transparent;
			img:first-child{
				position : relative;
				z-index : 11;
			}
			img:nth-child(2){
				z-index : 3;
			}		
		}
		&.ui-selected{
			.thumbnail{
				background: #FFFFFF;
				border-radius: 15px;
			}
		}
	}
}
#dragContainer{
	background : transparent;
	opactiy    : .5;
	.span2{
		width : 120px;
	}
}